<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <!-- line below defines interpolation -->
    Welcome to {{ title }}!
  </h1>
<div>
  <!-- the lines below defines data binding in angular -->
<table class="table table-danger">
<tr>
<tr *ngFor ='let f of data'>
  <td>{{f._id}}</td>
  <td>{{f.name}}</td>
  <td>{{f.class}}</td>  
</table>
</div>
<!-- the line below defines property binding and event binding using [style.height.px] for property and (click) for event -->
<button class="btn btn-success"  style="float: left;" [style.height.px]='height' (click)="add()"> Add</button> 
<br>
{{result}}<br>
<!-- the lines below define the two way data binding using [(ngModel)] -->
<input type="number" style="float: left;"[(ngModel)]="val1"> <br>
{{val1}} <br>
<input type="number" style="float: left" [(ngModel)]="val2"> <br>
{{val2}} <br>
<button class="btn btn-success"   style="float :left"[style.height.px]='height' (click)="caladd()"> Add</button><br>
{{result1}}
<br>
<!-- lines below define the component communication using @input() -->
<br>
<span style="float: left;">{{parentMessage}}</span>
<br>
<app-first (foo)="Dpfoo($event)" [ParentData]=dataval [helloMessage]="childMessage"></app-first>
<br>
<!-- onchanges lifecycle hook -->
<button (click)="changesfromparent()">changes from parent</button> 


